$color_mainGreen: #48761E;
$color_hoverGreen: #619e28;
$color_background: #16181b;

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  padding: 20px 30px 10px;
  background-color: $color_background;

  &__capture {
    font-size: 10px;
    font-weight: 600;
    color: $color_mainGreen;
  }

  &__rulesButton {
    position: absolute;
    bottom: 0;
    right: 30px;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    will-change: transform;
    animation-name: pulsar;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__rulesButtonImage {
    display: block;
    width: 180px;
  }
}


@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.02);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}